//font styles
@use "./styles/partials/mixin" as *;
@use "./styles/partials/variables" as *;

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-style, sans-serif;
  overflow-x: hidden !important;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.vertical {
  padding-left: 100px;
  @include tablet {
    padding-right: 100px;
  }
  @include desktop {
    display: flex;
  }
  margin-left: -90px;
  border-left: 2px solid $mercury;
}
