@use "./variables" as *;
@use "./fonts" as *;

// screen breakpoints

@mixin tablet {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

///Mobile styling

@mixin pageheaderMobile {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

@mixin sectionheaderMobile {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

@mixin subheaderMobile {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

@mixin bodycopyMobile {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@mixin footercopyMobile {
  font-size: 0.8125rem;
  font-weight: 400;
}

@mixin labelandbuttonsMobile {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 400;
}

/// Desktop and Tablet styling

@mixin pageheaderDesktopTablet {
  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
}

@mixin sectionheaderDesktopTablet {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
}

@mixin subheaderDesktopTablet {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

@mixin bodycopyDesktopTablet {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

@mixin footercopyDesktopTablet {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

@mixin labelsandbuttonsDesktopTablet {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
