//width
$tablet-width: 48rem;
$desktop-width: 80.625rem;

//colors
$font-style: "AvenirNextLTPro";
$primaryTextColor: #ffff;
$brainflixBlue: #0095ff;
$brainflixDarkBlue: #0065ad;
$brainflixBlack: #323232;
$silver: #afafaf;
$brainflixDarkblack: #000000;
$mercury: #e1e1e1;
$alabasta: #fafafa;
