@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.uploader {
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__header {
    @include tablet {
      display: flex;
      justify-content: space-around;
    }
  }

  &__heading {
    @include pageheaderMobile;
    margin-top: 3.125rem;
    @include tablet {
      @include pageheaderDesktopTablet;
      margin-top: 5rem;
    }
  }
  &__titles {
    margin-left: 1.5rem;
    @include tablet {
      margin-left: 4rem;
    }
    @include desktop {
      margin-left: 6rem;
    }
  }
  &__divider-tablet {
    display: none;
    @include tablet {
      display: block;
      margin-top: 3.125rem;
    }
  }
  &__thumbnail {
    @include subheaderMobile;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 2.5rem;
    }
    @include desktop {
      margin-left: 5rem;
    }
  }
  &__thumbnail-image {
    border-radius: 2rem;
    width: 100%;
    padding: 0.625rem 1.25rem;
    aspect-ratio: 16/9;
    @include tablet {
      width: 50vw;
    }
    @include desktop {
      height: 80%;
      width: 40vw;
    }
  }
  &__thumbnail-heading {
    @include sectionheaderMobile;
    padding-top: 4.375rem;

    color: $silver;
    @include tablet {
      @include subheaderDesktopTablet;
      font-weight: bold;
    }
  }

  &__container {
    @include desktop {
      display: flex;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 3.125rem;
    align-items: center;
    margin-top: 1.25rem;
    @include tablet {
      margin-left: 2.875rem;
    }
    @include desktop {
      margin-left: -1rem;
    }
  }

  &__input-label {
    color: $silver;
    display: flex;
    flex-direction: column;
  }
  &__input {
    border: 1px solid $silver;
    height: 3.125rem;
    width: 90vw;
    @include tablet {
      width: 80vw;
    }
    @include desktop {
      height: 4.375rem;
      width: 50vw;
    }
  }
  & ::-webkit-input-placeholder {
    @include subheaderMobile;
    @include tablet {
      @include subheaderDesktopTablet;
    }
  }
  &__textarea-label {
    color: silver;
    display: flex;
    flex-direction: column;
  }
  &__textarea {
    border: 1px solid $silver;
    height: 9.375rem;
    width: 90vw;
    @include tablet {
      width: 80vw;
    }
    @include desktop {
      height: 12rem;
      width: 50vw;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      display: flex;
      flex-direction: row;
      margin-left: 18.75rem;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
    }
  }
  &__button-cancel {
    background-color: #ffff;
    color: $brainflixBlue;
  }
  &__button-publish {
    width: 90vw;
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }
  &__button-publishDesktop {
    display: none;
    @include tablet {
      display: block;
    }
    @include desktop {
      display: block;
    }
  }
  &__button-publishMobileImage {
    position: relative;
  }
}

.upload__divider {
  margin-top: 1.25rem;
}
