@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.uploader {
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__header {
    @include tablet {
      display: flex;
      justify-content: space-around;
    }
  }
  &__heading {
    @include pageheaderMobile;
  }
  &__thumbnail {
    @include subheaderMobile;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }
  &__thumbnail-image {
    border-radius: 2rem;
    width: 100vw;
    padding: 10px 20px;
    aspect-ratio: 16/9;
    @include tablet {
      width: 50vw;
    }
    @include desktop {
      width: 40vw;
    }
  }
  &__thumbnail-heading {
    padding-top: 70px;
    color: $silver;
  }
  &__heading-container {
  }
  &__container {
    @include desktop {
      display: flex;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    margin-top: 20px;
  }

  &__input-label {
    color: $silver;
    display: flex;
    flex-direction: column;
  }
  &__input {
    border: 1px solid $silver;
    height: 50px;
    width: 90vw;
    @include desktop {
      width: 50vw;
    }
  }
  &__textarea-label {
    color: silver;
    display: flex;
    flex-direction: column;
  }
  &__textarea {
    border: 1px solid $silver;
    height: 150px;
    width: 90vw;
    @include desktop {
      width: 50vw;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      display: flex;
      flex-direction: row;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
    }
  }
  &__button-cancel {
    background-color: #ffff;
    color: $brainflixBlue;
  }
  &__button-publish {
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }
  &__button-publishDesktop {
    display: none;
    @include tablet {
      display: block;
    }
    @include desktop {
      display: block;
    }
  }
}
