@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.hero {
  &__container {
    margin-top: 1.25rem;
    background-color: black;
    display: flex;
    justify-content: center;
    @include tablet {
      padding-top: 0.625rem;
    }
  }
  &__title-heading {
    @include sectionheaderMobile;
    @include tablet {
      @include sectionheaderDesktopTablet;
    }
    @include desktop {
      margin: 3.125rem 6.25rem;
    }
  }
  &__title-container {
    @include sectionheaderMobile;
    margin: 1.875rem 1.25rem;
  }
  &__video {
    width: 120%;
    height: 18.75rem;
    @include tablet {
      height: 37.5rem;
      max-width: 90%;
    }
    @include desktop {
      height: 37.5rem;
      width: 70%;
    }
    object-fit: cover;
  }
  &__divide {
    border: 1px solid $mercury;
    @include tablet {
      display: none;
    }
  }

  &__statistics {
    padding-bottom: 2.5rem;
    @include tablet {
      @include subheaderDesktopTablet;
      display: flex;
      padding-bottom: 3.125rem;
    }
    @include desktop {
      padding-left: 100px;
    }
    &-paragraph {
      @include bodycopyMobile;
      font-weight: bold;
      margin: 1.25rem 1.25rem;
      @include tablet {
        @include bodycopyDesktopTablet;
        font-weight: bold;
        margin: 0rem 1.25rem;
      }
      @include desktop {
      }
    }
    &-icons {
      margin-top: -1.125rem;
      margin-left: 18.25rem;
      position: relative;
      bottom: 5.625rem;
      @include tablet {
        @include bodycopyDesktopTablet;
        display: flex;
        justify-content: flex-end;
        column-gap: 0.625rem;
        margin: 0.625rem 2rem;
      }
      @include desktop {
        display: flex;
        margin-right: 35rem;
      }
    }
    &-likes {
      @include tablet {
        width: 1.25rem;
        margin-top: -1.25rem;
      }
    }
    &-date {
      color: $silver;
      margin-bottom: 0.625rem;
      margin-left: 1.25rem;
      @include tablet {
        @include bodycopyDesktopTablet;
      }
    }
    &-views {
      margin-bottom: 1.25rem;
    }
    &-likesNumber {
      margin-left: 0.625rem;
      color: $silver;
      @include tablet {
        margin-left: 1rem;
      }
    }
    &-viewsNumber {
      margin-left: 0.625rem;
      color: $silver;
    }
    &-views-info {
      display: flex;
    }
    &-likes-info {
      display: flex;
    }
    &-info {
      @include desktop {
        display: flex;
      }
    }
  }
}
