@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.comment__list {
  margin-left: 3.125rem;
  margin-bottom: 1.25rem;
  list-style: none;
}

.comment-contain img {
  height: 2.25rem;
  width: 2.25rem;

  border-radius: 50%;
}

::placeholder {
  color: #000000;
}

button {
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.375rem;
  width: 70vw;
  color: #ffff;
  background-color: $brainflixBlue;
  height: 3.5rem;
  margin-left: 5.9375rem;
  @include tablet {
    margin-left: 2rem;
    width: 20vw;
    height: 3rem;
  }
  @include desktop {
    width: 10vw;
    margin-left: 30px;
  }
}

//primary CTA hover
button:hover {
  background-color: $brainflixDarkBlue;
}

.comment {
  margin-top: 1.25rem;
  width: 100%;

  display: flex;
  flex-direction: column;

  &-section {
    display: flex;
    flex-direction: column;
  }
  &__date {
    margin-top: -0.625rem;
    display: flex;
    justify-content: flex-end;
    color: $silver;
  }
  &__name {
    font-weight: bold;
    margin-top: -4.25rem;
    list-style: none;
    margin-left: 1.25rem;
  }
  &__item {
    @include bodycopyMobile;
    list-style: none;
    margin: 1rem 3.125rem;
    @include tablet {
      @include bodycopyDesktopTablet;
      margin-top: 0.625rem;
      margin-left: 4.375rem;
    }
  }
  &-container {
    margin: 0 0.625rem;
    @include desktop {
      padding-left: 5rem;
    }
  }

  &__avatar {
    margin-left: 0.625rem;
    border-radius: 1.5625rem;
    height: 3.125rem;
    width: 3.125rem;
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    @include tablet {
      border-radius: 2.1875rem;
      height: 3.125rem;
      width: 3.125rem;
    }
  }
  &__icon {
    position: relative;
    left: 9.375rem;
    @include tablet {
      position: relative;
      left: 5rem;
      top: 0.3125rem;
    }
    @include desktop {
      position: relative;
      left: 4rem;
    }
  }
  &__divider {
    border: 0.0625rem solid $mercury;
    margin-bottom: -0.625rem;
  }
}
