@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.about {
  &__paragraph {
    @include bodycopyMobile;
    margin: 1.25rem 1.25rem;
    @include tablet {
      padding-bottom: 5rem;
      @include bodycopyDesktopTablet;
    }
  }
  &__divider {
    border: 1px solid $mercury;
    margin-top: -4.375rem;
  }
}
