@use "../styles/partials/mixin" as *;
@use "../styles/partials/variables" as *;

.hero {
  &__container {
    margin-top: 1.25rem;
    background-color: black;
    display: flex;
    justify-content: center;
  }
  &__title-heading{
      @include tablet{
        @include pageheaderDesktopTablet;
      }
      
  }
  &__title-container {
    @include sectionheaderMobile;
    margin: 1.875rem 1.25rem;
  }
  &__video {
    height: auto;
    max-width: 100%;
    margin-top: 1.0625rem;
    object-fit: cover;
  }
  &__divide{

      @include tablet{
      display: none;
        
      }
  }

  &__statistics {
      padding-bottom: 40px;
    @include desktop {
    }
    &-paragraph {
      @include subheaderMobile;
      margin: 20px 1.25rem;
    }
    &-icons {
      margin-top: -1.125rem;
      margin-left: 18.25rem;
      position: relative;
      bottom: 90px;
      @include tablet{
          margin-top: -10px;
      }
      @include desktop {
        display: flex;
      }
    }
    &-date {
      color: $silver;
      margin-bottom: 0.625rem;
      margin-left: 1.25rem;
      @include tablet{}
    }
    &-views {
      margin-bottom: 1.25rem;
    }
    &-likesNumber {
      margin-left: 0.625rem;
      color: $silver;
    }
    &-viewsNumber {
      margin-left: 0.625rem;
      color: $silver;
    }
    &-views-info {
      display: flex;
    }
    &-likes-info {
      display: flex;
    }
    &-info {
        
      @include desktop {
        display: flex;
      }
    }
    &-details{
        
    }
  }
  


}

