@use "../styles/partials/mixin" as *;
@use "../styles/partials/variables" as *;

.hero {
  &__container {
    margin-top: 1.25rem;
    background-color: black;
    display: flex;
    justify-content: center;
  }
  &__title-heading{
      @include tablet{
        @include pageheaderDesktopTablet;
      }
      
  }
  &__title-container {
    @include sectionheaderMobile;
    margin: 1.875rem 1.25rem;
  }
  &__video {
    height: auto;
    max-width: 100%;
    margin-top: 1.0625rem;
    object-fit: cover;
  }
  &__divide{

      @include tablet{
      display: none;
        
      }
  }

  &__statistics {
      padding-bottom: 2.5rem;
      @include tablet{
          @include subheaderDesktopTablet;
          display: flex;
          padding-bottom: 3.125rem
      }
    @include desktop {
    }
    &-paragraph {
      @include subheaderMobile;
      margin: 1.25rem 1.25rem;
      @include tablet{
        @include subheaderDesktopTablet;
        font-weight: bold;
          margin: 0px 1.25rem;
      }
    }
    &-icons {
      margin-top: -1.125rem;
      margin-left: 18.25rem;
      position: relative;
      bottom: 90px;
      @include tablet{
          @include subheaderDesktopTablet;
        display: flex;
        justify-content: flex-end;
          column-gap: .625rem;
          margin-top: .625rem;
          
      }
      @include desktop {
        display: flex;
      }
    }
    &-likes{
        @include tablet{
            width: 1.25rem;
            margin-top: -1.25rem;
        }
    }
    &-date {
      color: $silver;
      margin-bottom: 0.625rem;
      margin-left: 1.25rem;
      @include tablet{}
    }
    &-views {
      margin-bottom: 1.25rem;
    }
    &-likesNumber {
      margin-left: 0.625rem;
      color: $silver;
      @include tablet{
          margin-left: 1rem;
      }
    }
    &-viewsNumber {
      margin-left: 0.625rem;
      color: $silver;
    }
    &-views-info {
      display: flex;
    }
    &-likes-info {
      display: flex;
      
    }
    &-info {
        
      @include desktop {
        display: flex;
      }
    }
    &-details{
        
    }
  }
  


}

